html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
	position: relative;
  margin-top: 0;

}
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  margin-top: 100px;
	position: relative;
  margin-bottom: 0;

}
.bio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
	position: relative;
  font-family: 'Cardo', serif;
  font-size: 30px;
  /*text-align: center;*/
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 0;
  margin-bottom: 0;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
	position: relative;
  margin-top: 0;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
	position: relative;
}
.img-circle {
  border-radius: 50%;
  max-width:40%;
  max-height:40%;
  text-align: center;
}
body {
  background: linear-gradient(to bottom right, #66ffff, white);
}




#about {
  font-family: 'Cardo', serif;
  font-size: 40px;
  text-align: center;
}



.image-circle {
  position: absolute;
  top: 0;
  left: 0px;
  z-index: 4;

}
.img-position {
  position:absolute;
  top:70%;
  text-align: center;
  vertical-align: middle;
  z-index: 4;
}

.img2 {
  background: linear-gradient(to bottom right, #66ffff, white);
  position:absolute;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  width: 100%;
  background-size: contain;
  margin-left: 0;
   z-index: 3;
}
.name {
  text-align:center;
  font-family: 'Cardo', serif;
  font-size: 100px;
}
.number {
  text-align:center;
  margin-top: 20px;
}
.w3-button {
  background-color: aqua;
  width: 150px;
  height: 40px;
  font-family: 'Cardo', serif;
  font-size: 25px;
}
#projects:hover {
  background-color: lightgrey;
}
#contact:hover {
  background-color: lightgrey;
}
#projects {
  margin-left: 50px;
  background-color: aqua;
  width: 150px;
  height: 40px;
  font-family: 'Cardo', serif;
  font-size: 25px;
  border: solid black;

}
#contact {
  margin-left: 100px;
  background-color: aqua;
  width: 150px;
  height: 40px;
  font-family: 'Cardo', serif;
  font-size: 25px;
  border: solid black;
}
.buttons {
  margin-top: 5px;
}
.social{
  text-align: center;
  margin-top: 100px;
}
ul {
  font-family: 'Cardo', serif;
  font-size: 40px;
  text-align: center;

}
.contact_me{
  font-family: 'Cardo', serif;
  font-size: 100px;
  text-align: center;

}
.center-p {
  text-align: center;
  position:relative;
  vertical-align: middle;
  align-content: center;
  margin-left: 25px;

}
.center-c {
  text-align: center;
  position:relative;
  vertical-align: middle;
  align-content: center;
  margin-left: 8px;
}
